* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
}

.app {
  width: 200px;
  height: 300px;
  margin: auto;
  border: 5px solid cadetblue;
}

.layout__box {
  width: 150px;
  height: 250px;
  margin: auto;
}

.header {
  margin: 20px 0px 10px 0px;
}

.fa-xmark {
  font-size: 12px;
}

.playlist {
  margin: 0px 45px;
  font-weight: bold;
  font-size: 10px;
}

.app__info {
  display: flex;
  flex-direction: row;
}

.img__box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.title__flex {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
}

.img__box {
  background-color: orange;
}

.fa-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.title__info {
  font-size: 1px;
}

.menu__icon {
  display: flex;
  margin: 10px 0px;
  justify-content: space-between;
}

.play__icon {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-bottom-width: medium;
  border-radius: 10px;
  font-size: 7px;

  padding: 3px 15px;
}

.fa-play {
  color: black;
  margin: 0px 5px;
}

.heart__icon {
  border: 1px solid black;
  border-bottom-width: medium;
  border-radius: 100%;

  padding: 5px;
}

.plus__icon {
  border: 1px solid black;
  border-bottom-width: medium;
  border-radius: 100%;

  padding: 5px;
}

.sing__info {
  display: flex;
  margin: 15px 0px;
}

.color__box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.sing_flex {
  display: flex;
}

.sing__title {
  height: 10px;
  font-size: 10px;
  font-weight: bold;
}

.sing__artist {
  font-size: 1px;
}

.sing_track .sing__info:nth-child(1) .color__box {
  background-color: tomato;
}

.sing_track .sing__info:nth-child(2) .color__box {
  background-color: pink;
}

.sing_track .sing__info:nth-child(3) .color__box {
  background-color: blue;
}

.sing_track .sing__info:nth-child(4) .color__box {
  background-color: teal;
}
